<div class="nav">
<a class="button">Browse</a>
<a class="button">Search</a>
<a class="button login-button">Log in</a>
</div>

<div class="section ui-widget-content">
<h2 class="section-title">Upcoming events</h2>
  Content goes here
</div>

<div id="login-dialog" title="Log in">
  Username: (add username box here)<br/>
  Password: (add password box here)
</div>
