<div class="section">
<h2 class="section-title">All events</h2>
<% @events.each() do |e| %>
  <div class="event">
    <% if e.users then c=e.users.count else c=0 end%>
    <%= link_to(c.to_s+" people are doing "+e.activity.name, 
                '/events/'+e.id.to_s,
                { :class => 'button' }
               ) %>
  </div>
<% end %>
  <div id="pager" style="width:100%;">
    <%= will_paginate @events %>
  </div>
</div>


