/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import url(http://fonts.googleapis.com/css?family=Rosario:400,700);

body {
  padding: 0px;
  margin: 0px;
  font-family: sans-serif;
  background-color: #fbf9f9;
  color: #4c3f1f;
}

h1, h2, h3 {
  font-family: 'Rosario', sans-serif;
  font-weight: bold;
}

a {
  text-decoration: underline;
}

a:hover {
  background-color: transparent;
  color: #dd0000;
}

a.title {
  text-decoration: none;
}

h1.title {
  width: 100%;
  color: #fff;
  background: #cc0000 url(custom-theme/images/ui-bg_hexagon_30_cc0000_12x10.png) 100% 100% repeat;
  line-height: 2em;
  margin: 0px;
  margin-bottom: 0.5em;
  text-align: center;
  font-variant: small-caps;
  letter-spacing: 0.2em;
  font-weight: bold;
  font-size: 3em;
  /* Gradient background */
  /*
  background: #ff3019; /* Old browsers */
  /*background: -moz-linear-gradient(top,  #ff3019 0%, #cf0404 100%); /* FF3.6+ */
  /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff3019), color-stop(100%,#cf0404)); /* Chrome,Safari4+ */
  /*background: -webkit-linear-gradient(top,  #ff3019 0%,#cf0404 100%); /* Chrome10+,Safari5.1+ */
  /*background: -o-linear-gradient(top,  #ff3019 0%,#cf0404 100%); /* Opera 11.10+ */
  /*background: -ms-linear-gradient(top,  #ff3019 0%,#cf0404 100%); /* IE10+ */
  /*background: linear-gradient(to bottom,  #ff3019 0%,#cf0404 100%); /* W3C */
  /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 ); /* IE6-9 */
  -webkit-text-shadow: 0px 0px 10px rgba(50, 50, 50, 0.75);
  -moz-text-shadow:    0px 0px 10px rgba(50, 50, 50, 0.75);
  text-shadow:         0px 0px 10px rgba(50, 50, 50, 0.75);
  -webkit-box-shadow: 0px 0px 10px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 0px 10px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 0px 10px rgba(50, 50, 50, 0.75);
}

div#user {
  padding-left: 0.5em;
}

div#main {
  margin: 0px;
  margin-left: 1em;
  margin-right: 1em;
  padding: 2em;
  padding-top: 0px;
  color: #4c3f1f;
}

/* For nav buttons */
#nav {
  text-align: center;
}

div.section {
  margin: 1em;
  padding: 1em;
  border: 1px solid #eee;
  background-color: #fff;
  overflow: hidden;
}

h2.section-title {
  border-bottom: 1px solid black;
  margin-top: 0px;
}

/* todo: put in page-specific css? */

div.event {
  float: left;
  margin-right: 1em;
  margin-bottom: 1em;
}

#pager {
  display: block;
  clear: both;
  text-align: center;
}

.login-button:hover, .register-button:hover {
  cursor: pointer;
}
